#set($lastUpdate = $dateTool.getDate())
#set($ignore = $lastUpdate.setTime($event.getLong("lastUpdate")))
$device.name inactive from $dateTool.format("YY-MM-dd HH:mm", $lastUpdate, $locale, $timezone)
