#set($subject = "$device.name: inactive")
#set($lastUpdate = $dateTool.getDate())
#set($ignore = $lastUpdate.setTime($event.getLong("lastUpdate")))
<!DOCTYPE html>
<html>
<body>
Device: $device.name<br>
Inactive<br>
Last Update: $dateTool.format("YY-MM-dd HH:mm", $lastUpdate, $locale, $timezone)<br>
Link: <a href="$webUrl?eventId=$event.id">$webUrl?eventId=$event.id</a>
</body>
</html>
